#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-members{
			background-color: #4cb4c7;
		}


		#total-equipment{
			background-color: #7abecc;
		}

		#total-trainer{
			background-color: #7CD1C0;
		}