<footer class="footer-distributed">
            <div class="footer-left">

				<h3>Company<span> logo</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">Latest News</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Careers</a>
				</p>

				<p class="footer-company-name">Company Name &copy; 2021</p>
                <p class="footer-company-name">All rights reserved</p><br>
                <a href="#" style="font-family: 'Montserrat','sans-serif';color: white;text-decoration: none;">Terms of Services</a>&nbsp; &nbsp;<a href="#" style="font-family: 'Montserrat','sans-serif';color: white;text-decoration: none">Privacy Policy</a>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="/cdn-cgi/l/email-protection#ff8c8a8f8f908d8bbf9c90928f9e9186d19c9092"><span class="__cf_email__" data-cfemail="ea999f9a9a85989eaa8985879a8b8493c4898587">abc@gmail.com</span></a></p>
				</div>

			</div>

			<div class="footer-right">
                <p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>

				</div>

			</div>
        </footer>