<br>
<!--
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-members">
			  	<div class="card-header">
			  		<h5 class="card-title">Members</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_members}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-equipment">
			  	<div class="card-header">
			  		<h5 class="card-title">Equpiments</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-trainer">
			  	<div class="card-header">
			  		<h5 class="card-title">Trainers</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_trainers}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
-->

<section id="counts" class="counts">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6 mt-5">
            <div class="count-box">
              <i class="fa fa-users"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0" class="purecounter">{{total_members}}</span>
              <p>Members</p>
            </div>
          </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fa fa-heart"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0" class="purecounter">{{total_trainers}}</span>
            <p>Trainers</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fa fa-product-hunt"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="0" class="purecounter">1463</span>
            <p>Products</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fa fa-money"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="0" class="purecounter">10M+</span>
            <p>Total Profit (INR)</p>
          </div>
        </div>

      </div>

    </div>
  </section>
